body{


    background-color: rgb(0, 0, 0);
}

.g{
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: cursive;
    /* font-family: monospace; */
    /* background: rgba(234, 18, 18, 0.05); */
    padding: 15px 20px;
    /* border-radius: 15px; */
    /* box-shadow: 0 0 20px rgba(255, 179, 71, 0.2); */}
.d2{
    color: aliceblue;
}
.d1 {
    text-align: center;
    color: #ffb347; /* لون ذهبي جذاب */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.8rem;
    margin-top: 50px;
    text-shadow: 0px 4px 10px rgba(255, 179, 71, 0.6);
   
}

.form {
    background-color: #fff8f800;
    width: 500px;
    height: 200px;
    text-align: center;
    padding: 50px 50px 50px 50px ;
    margin: auto;

    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px 12px  #ffb347;

/* 
    backdrop-filter: blur(3px); */



}
pre{


    overflow: visible;
}
.form form input {


    margin-bottom: 10px;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;

}

.form form input:hover {
    background-color: rgba(0, 0, 0, 0.937);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    

}
.form form input::placeholder{
    color: rgb(0, 0, 0);

}


footer {
    background-color:  #ffb347;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    
    position: fixed; /* تثبيت العنصر */
    bottom: 0;       /* تحديد موقعه في الأسفل */
    left: 0;         /* تحديد موقعه في اليسار */
    width: 100%;     /* جعله يمتد على كامل العرض */
    font-family: monospace;
    /* box-shadow: 0px 4px 10px rgba(255, 253, 249, 0.6);*/
} 



